@model IEnumerable<string>
<div class="row">
    <h1>Welcome to Anagram Generator</h1>
    @if (Model != null)
    {
        <ul>
            @foreach (var anagram in Model)

            {
                <li>@anagram</li>
            }
        </ul>
    } else
    {
        <h3>No anagrams found!</h3>
    }

    @Html.ActionLink("Create", "Create", "Word")
    @Html.ActionLink("GetDictionary", "GetDictionary", "Word")
    @{ 
        string val = "COOKIES NOT FOUND";

        if (Request.Cookies[ViewBag.CookieName] != null)
        {
            val = Request.Cookies[ViewBag.CookieName].Value;
        }
        <p>How many times the user searched the word - @val</p>
     }
    <input type="button" class="btn btn-success" value="Update" onclick="location.href='@Url.Action("Action", "Controller")'" />
    <input type="button" class="btn btn-dark" value="Add" onclick="location.href='@Url.Action("Action", "Controller")'" />
    <input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("Action", "Controller")'" />
    
</div>