@model IEnumerable<string>

<div class="row">
    <h1>Welcome to Anagram Generator</h1>
    <hr />

    @if (@ViewBag.CookieName == null)
    {
        <h3>Word:No word has been searched</h3>
    }
    else
    {
        <h3>Word: @ViewBag.CookieName</h3>
    }

    @if (Model != null)
    {
        <ul>
            @foreach (var anagram in Model)

            {
                <li>@anagram</li>
            }
        </ul>

        var countOfAnagrams = Model.Count();
        if (countOfAnagrams == 0)
        {
            <h4>No anagrams found!</h4>
        }
    }
    <br />
    <h3>Cookies section</h3>
    @{
        string val = "COOKIES NOT FOUND";

        if (Request.Cookies[ViewBag.CookieName] != null)
        {
            val = Request.Cookies[ViewBag.CookieName].Value;
        }
        <h4>How many times the user searched the word - @val</h4>
    }
    <br />
    <h3>Operations to start, for getting free searches(Max - 3 searches per 3 minutes)</h3>
    <hr />
    <input type="button" class="btn btn-success" value="Update" onclick="location.href='@Url.Action("UpdateWord", "FreeSearch", new { Word = ViewBag.CookieName})'" />
    <input type="button" class="btn btn-dark" value="Add" onclick="location.href='@Url.Action("AddWord", "FreeSearch")'" />
    <input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("RemoveWord", "FreeSearch", new { searchName = ViewBag.CookieName})'" />

</div>